<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="w-100">
  
  <div class="field">
    <label>E-mail</label>
    <input 
      formControlName="nome" 
      type="email" 
      placeholder="seuemail@exemplo.com"
    >
  </div>
  
  <div class="field" style="position: relative;">
    <label>Senha</label>
    <input 
      formControlName="senha" 
      [type]="hidePassword ? 'password' : 'text'" 
      placeholder="••••••••"
      style="padding-right: 40px;"
    >
    <span 
      class="password-toggle" 
      (click)="togglePasswordVisibility()"
    >
      <i class="bi" [class.bi-eye-slash]="hidePassword" [class.bi-eye]="!hidePassword"></i>
    </span>
  </div>

  <button type="submit" class="btn-login">
    Entrar
  </button>
  
</form>